.poppins {
  font-family: "Poppins", serif;
}

.tiro-bangla {
  font-family: "Tiro Bangla", serif;
}

.hind-siliguri {
  font-family: "Hind Siliguri", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}
